:root {
  --primary: #fff;
}

.btn {
  padding: 0.5rem 1.2rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 0.5rem 1.2rem;
  font-size: 1.1rem;
}

.btn--large {
  padding: 0.8rem 1.7rem;
  font-size: 1.1rem;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}
